body {
  font-family: sans-serif;
  box-sizing: border-box;
}

h4 {
  text-align: center;
}

.container {
  width: 800px;
  margin: 20px auto;
}

.comment-box {
  background: #f0ffff;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 10px;
}

textarea {
  width: 100%;
}

.fetch-comments {
  justify-self: start;
  align-self: end;
}

.comment-list {
  background: #f0fff0;
  padding: 10px;
}

h4 {
  margin: 0 0 20px 0;
}

ul {
  list-style-type: none;
}

ul.nav {
  padding: 10px;
  background: #303030;
  font-size: 0.8rem;
  margin: 0;
}

ul.nav li {
  display: inline-block;
  margin-right: 10px;
}

ul.nav a {
  text-decoration: none;
  color: #e0e0e0;
}

ul.nav a:hover {
  color: #fff;
}
